*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.forgot-container{

    min-height:calc(100vh - 75px);

    display:flex;

    justify-content:center;

    align-items:center;

    padding:60px 20px;

    background:linear-gradient(135deg,#ecfdf5,#d1fae5);
}

.forgot-box{

    width:430px;

    background:white;

    padding:40px;

    border-radius:18px;

    box-shadow:0 15px 35px rgba(0,0,0,.12);

    transition:.3s;
}

.forgot-box:hover{

    transform:translateY(-5px);
}

.forgot-box h1{

    color:#059669;

    text-align:center;

    margin-bottom:15px;

    font-size:36px;
}

.forgot-box p{

    text-align:center;

    color:#666;

    margin-bottom:30px;

    line-height:25px;
}

.input-group{

    margin-bottom:25px;
}

.input-group label{

    display:block;

    margin-bottom:8px;

    font-weight:600;
}

.input-group input{

    width:100%;

    padding:14px;

    border:1px solid #ccc;

    border-radius:10px;

    font-size:16px;
}

.input-group input:focus{

    outline:none;

    border:2px solid #059669;

    box-shadow:0 0 8px rgba(5,150,105,.2);
}

.forgot-btn{

    width:100%;

    padding:15px;

    background:#059669;

    color:white;

    border:none;

    border-radius:10px;

    font-size:18px;

    cursor:pointer;

    transition:.3s;
}

.forgot-btn:hover{

    background:#047857;
}

.back-login{

    margin-top:25px;

    text-align:center;
}

.back-login a{

    color:#059669;

    text-decoration:none;

    font-weight:bold;
}

.back-login a:hover{

    text-decoration:underline;
}