.terms-container{
    background:#f4fffb;
    min-height:100vh;
    padding:60px;
}

.terms-card{
    max-width:1000px;
    margin:auto;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

.terms-card h1{
    color:#059669;
    text-align:center;
    margin-bottom:30px;
}

.terms-card section{
    margin-bottom:30px;
}

.terms-card h2{
    color:#047857;
    margin-bottom:10px;
}

.terms-card p{
    color:#555;
    line-height:28px;
}